<div class="row offset-2 mt-4">
  <h3>　商品一覧　</h3>

  <div class="offset-6 col-1">
    <%= link_to new_admin_item_path, class: "shadow-sm btn btn-outline-secondary", style: " border-radius:100px;" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
</div>

<%= render "admin/items/item_index", items: @items %>