<%= form_with url: admin_search_path, method: :get, local: true do |f| %>
  <div class="input-group">
    <%= f.text_field :keyword, placeholder: "商品名で検索", class: "form-control" %>
    <span class="input-group-append">
      <%= button_tag type: 'submit', class: "btn btn-light" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </span>
  </div>
<% end %>